{% extends 'rental/base.html'%} {% load static %} {% block content %}

<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">En vacances comme à la maison</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav
          aria-label="breadcrumb"
          class="breadcrumb-box d-flex justify-content-lg-end"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'rental:index' %}">Accueil</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              À propos
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="section-about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about-img-box">
          <img
            src="{% static 'rental/img/slide-about-1.jpg' %}"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="sinse-box">
          <h3 class="sinse-title">VillaFleurie <br /></h3>
          <p>Location & Vacances — Depuis 2011</p>
        </div>
      </div>
      <div class="col-md-12 section-t8">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <img
              src="{% static 'rental/img/about-2.jpg' %}"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-lg-2  d-none d-lg-block">
            <div class="title-vertical d-flex justify-content-start">
              <span>VillaFleurie Exclusive</span>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 section-md-t3">
            <div class="title-box-d">
              <h3 class="title-d">
                Notre <br /><span class="color-d">Histoire</span>
              </h3>
            </div>
            <p class="color-text-a">
              Depuis 2010, VillaFleurie propose ses services au cœur de la belle
              ville du Gosier de notre bel archipel Guadeloupéen. Depuis 2015,
              nous nous sommes spécialisés et étendus aux voyageurs de tous les
              horizons aussi bien à l’échelle locale, nationale ou encore
              internationale. Les services proposés sont multiples : location de
              vacance de type T2, location de vacance de type T3, location de
              voiture, navette (aéroport, gare maritime, etc.), visite guidée de
              l’Archipel (sur demande) C’est toujours un réel plaisir de savoir
              nos clients pleinement satisfaits de leur séjour. Ainsi, nous
              mettons tout en œuvre en vue que votre séjour se déroule pour le
              mieux. Nous nous engageons à répondre à vos questions dans les
              plus brefs délais car nous savons que les vacances s’organisent à
              l’avance. Nous vous accompagnons afin de préparer vos vacances en
              toute quiétude.
            </p>
            <p class="color-text-a">
              N’hésitez donc plus et venez profiter de vos vacances chez
              VillaFleurie.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
