{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="google-site-verification"
      content="_VvUrAmbWy8dYj9sy2wePTF-ACH7ASdZLzDzScH9Lmo"
    />

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-162353497-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-162353497-1");
    </script>

    <script>
      (function (c, a) {
        if (!a.__SV) {
          var b = window;
          try {
            var d,
              m,
              j,
              k = b.location,
              f = k.hash;
            d = function (a, b) {
              return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null;
            };
            f &&
              d(f, "state") &&
              ((j = JSON.parse(decodeURIComponent(d(f, "state")))),
              "mpeditor" === j.action &&
                (b.sessionStorage.setItem("_mpcehash", f),
                history.replaceState(
                  j.desiredHash || "",
                  c.title,
                  k.pathname + k.search
                )));
          } catch (n) {}
          var l, h;
          window.mixpanel = a;
          a._i = [];
          a.init = function (b, d, g) {
            function c(b, i) {
              var a = i.split(".");
              2 == a.length && ((b = b[a[0]]), (i = a[1]));
              b[i] = function () {
                b.push([i].concat(Array.prototype.slice.call(arguments, 0)));
              };
            }
            var e = a;
            "undefined" !== typeof g ? (e = a[g] = []) : (g = "mixpanel");
            e.people = e.people || [];
            e.toString = function (b) {
              var a = "mixpanel";
              "mixpanel" !== g && (a += "." + g);
              b || (a += " (stub)");
              return a;
            };
            e.people.toString = function () {
              return e.toString(1) + ".people (stub)";
            };
            l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(
              " "
            );
            for (h = 0; h < l.length; h++) c(e, l[h]);
            var f = "set set_once union unset remove delete".split(" ");
            e.get_group = function () {
              function a(c) {
                b[c] = function () {
                  call2_args = arguments;
                  call2 = [c].concat(Array.prototype.slice.call(call2_args, 0));
                  e.push([d, call2]);
                };
              }
              for (
                var b = {},
                  d = ["get_group"].concat(
                    Array.prototype.slice.call(arguments, 0)
                  ),
                  c = 0;
                c < f.length;
                c++
              )
                a(f[c]);
              return b;
            };
            a._i.push([b, d, g]);
          };
          a.__SV = 1.2;
          b = c.createElement("script");
          b.type = "text/javascript";
          b.async = !0;
          b.src =
            "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL
              ? MIXPANEL_CUSTOM_LIB_URL
              : "file:" === c.location.protocol &&
                "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)
              ? "https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js"
              : "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";
          d = c.getElementsByTagName("script")[0];
          d.parentNode.insertBefore(b, d);
        }
      })(document, window.mixpanel || []);
      mixpanel.init("fd38f05cab7987b17dfa3aac4ff1a032");
    </script>

    <title>VillaFleurie – Locations de vacances</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <link href="{% static 'rental/img/apple-touch-icon.png' %}" rel="icon" />
    <link
      href="{% static 'rental/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      href="{% static 'rental/lib/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'rental/lib/font-awesome/css/font-awesome.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'rental/lib/animate/animate.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'rental/lib/ionicons/css/ionicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'rental/lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'rental/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
      <div class="container">
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#navbarDefault"
          aria-controls="navbarDefault"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>

        <a class="navbar-brand text-brand" href="{% url 'rental:index' %}">
          <img
            class="logo"
            src="{% static 'rental/img/apple-touch-icon.png' %}"
            alt="villafleurie_logo"
          />
          Villa<span class="color-b">Fleurie</span>
        </a>
        <div
          class="navbar-collapse collapse justify-content-center"
          id="navbarDefault"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'rental:list_place' %}"
                >Hébergements</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'rental:services' %}"
                >Services</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'rental:about' %}">À propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'rental:contact' %}">Contact</a>
            </li>
          </ul>
        </div>
        <a class="btn btn-b" href="{% url 'rental:reservation' %}">
          Réserver
        </a>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <section class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <div class="widget-a">
              <div class="w-header-a">
                <a
                  class="navbar-brand text-brand"
                  href="{% url 'rental:index' %}"
                >
                  <h3 class="w-title-a text-brand">
                    Villa<span class="color-b">Fleurie</span>
                  </h3>
                </a>
              </div>
              <div class="w-body-a">
                <p class="w-text-a color-text-a">
                  Découvrez la ville balnéaire du Gosier
                </p>
              </div>
              <div class="w-footer-a">
                <ul class="list-unstyled">
                  <li class="color-a">
                    <span class="color-text-a">📞 Téléphone </span>
                    <a href="tel:0698267634">06 98 26 76 34</a>
                  </li>
                  <li class="color-a">
                    <span class="color-text-a">✉️ Email </span>
                    <a href="mailto:location.villafleurie@gmail.com"
                      >location.villafleurie@gmail.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 section-md-t3">
            <div class="widget-a">
              <div class="w-header-a">
                <h3 class="w-title-a text-brand"></h3>
              </div>
              <div class="w-body-a">
                <div class="w-body-a">
                  <ul class="list-unstyled">
                    <li class="item-list-a">
                      <i class="fa fa-angle-right"></i>
                      <a href="{% url 'rental:legal' %}">Mentions légales</a>
                    </li>
                    <li class="item-list-a">
                      <i class="fa fa-angle-right"></i> <a href="#">Jobs</a>
                    </li>
                    <li class="item-list-a">
                      <i class="fa fa-angle-right"></i>
                      <a href="{% url 'rental:partners' %}"
                        >Espace partenaires</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="nav-footer">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="{% url 'rental:index' %}">Accueil</a>
                </li>
                <li class="list-inline-item">
                  <a href="{% url 'rental:list_place' %}">Hébergements</a>
                </li>
                <li class="list-inline-item">
                  <a href="{% url 'rental:reservation' %}">Réservation</a>
                </li>
                <li class="list-inline-item">
                  <a href="{% url 'rental:about' %}">À propos</a>
                </li>
                <li class="list-inline-item">
                  <a href="{% url 'rental:contact' %}">Contact</a>
                </li>
              </ul>
            </nav>
            <div class="socials-a">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a
                    href="https://www.facebook.com/location.villafleurie/"
                    target="blank"
                  >
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="copyright-footer">
              <p class="copyright color-text-a">
                &copy;
                <span class="color-a">2019, VillaFleurie</span> Avec ❤️ depuis
                2011
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <script src="{% static 'rental/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'rental/lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'rental/lib/popper/popper.min.js' %}"></script>
    <script src="{% static 'rental/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'rental/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'rental/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'rental/lib/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'rental/js/main.js' %}"></script>
  </body>
</html>
