{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="google-site-verification"
      content="_VvUrAmbWy8dYj9sy2wePTF-ACH7ASdZLzDzScH9Lmo"
    />

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-162353497-1"
    ></script>
    <script src="{% static 'rental/js/ga.js' %}"></script>
    <script src="{% static 'rental/js/mixpanel.js' %}"></script>

    <title>VillaFleurie | Locations de vacances</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <link href="{% static 'rental/img/apple-touch-icon.png' %}" rel="icon" />
    <link
      href="{% static 'rental/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      href="{% static 'rental/lib/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'rental/lib/font-awesome/css/font-awesome.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'rental/lib/animate/animate.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'rental/lib/ionicons/css/ionicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'rental/lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'rental/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
      <div class="container">
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#navbarDefault"
          aria-controls="navbarDefault"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>

        <a class="navbar-brand text-brand" href="{% url 'rental:index' %}">
          <img
            class="logo"
            src="{% static 'rental/img/apple-touch-icon.png' %}"
            alt="villafleurie_logo"
          />
          Villa<span class="color-b">Fleurie</span>
        </a>
        <div
          class="navbar-collapse collapse justify-content-center"
          id="navbarDefault"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'rental:list_place' %}"
                >Hébergements</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'rental:services' %}"
                >Services</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'rental:about' %}">À propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'rental:contact' %}">Contact</a>
            </li>
          </ul>
        </div>
        <a class="btn btn-b" href="{% url 'rental:reservation' %}">
          Réserver
        </a>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <section class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <div class="widget-a">
              <div class="w-header-a">
                <a
                  class="navbar-brand text-brand"
                  href="{% url 'rental:index' %}"
                >
                  <h3 class="w-title-a text-brand">
                    Villa<span class="color-b">Fleurie</span>
                  </h3>
                </a>
              </div>
              <div class="w-body-a">
                <p class="w-text-a color-text-a">
                  Découvrez la ville balnéaire du Gosier
                </p>
              </div>
              <div class="w-footer-a">
                <ul class="list-unstyled">
                  <li class="color-a">
                    <span class="color-text-a">📞 Téléphone </span>
                    <a href="tel:0698267634">06 98 26 76 34</a>
                  </li>
                  <li class="color-a">
                    <span class="color-text-a">✉️ Email </span>
                    <a href="mailto:location.villafleurie@gmail.com"
                      >location.villafleurie@gmail.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 section-md-t3">
            <div class="widget-a">
              <div class="w-header-a">
                <h3 class="w-title-a text-brand"></h3>
              </div>
              <div class="w-body-a">
                <div class="w-body-a">
                  <ul class="list-unstyled">
                    <li class="item-list-a">
                      <i class="fa fa-angle-right"></i>
                      <a href="{% url 'rental:legal' %}">Mentions légales</a>
                    </li>
                    <li class="item-list-a">
                      <i class="fa fa-angle-right"></i> <a href="#">Jobs</a>
                    </li>
                    <li class="item-list-a">
                      <i class="fa fa-angle-right"></i>
                      <a href="{% url 'rental:partners' %}"
                        >Espace partenaires</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="nav-footer">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="{% url 'rental:index' %}">Accueil</a>
                </li>
                <li class="list-inline-item">
                  <a href="{% url 'rental:list_place' %}">Hébergements</a>
                </li>
                <li class="list-inline-item">
                  <a href="{% url 'rental:reservation' %}">Réservation</a>
                </li>
                <li class="list-inline-item">
                  <a href="{% url 'rental:about' %}">À propos</a>
                </li>
                <li class="list-inline-item">
                  <a href="{% url 'rental:contact' %}">Contact</a>
                </li>
              </ul>
            </nav>
            <div class="socials-a">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a
                    href="https://www.facebook.com/location.villafleurie/"
                    target="blank"
                  >
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="copyright-footer">
              <p class="copyright color-text-a">
                &copy;
                <span class="color-a">2019, VillaFleurie</span> Avec ❤️ depuis
                2011
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <script src="{% static 'rental/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'rental/lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'rental/lib/popper/popper.min.js' %}"></script>
    <script src="{% static 'rental/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'rental/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'rental/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'rental/lib/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'rental/js/main.js' %}"></script>
  </body>
</html>
