{% extends 'rental/base.html'%} {% load static %} {% block content %}

<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Message reçu!</h1>
          <span class="color-text-a"
            >Nous traitons votre demande et nous vous recontactons aussi
            rapidement que possible.
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav
          aria-label="breadcrumb"
          class="breadcrumb-box d-flex justify-content-lg-end"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'rental:index' %}">Accueil</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Contact
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-map box">
          <div id="map" class="contact-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3831.2547874074585!2d-61.48954768556058!3d16.207335988795712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c134f148764f5d5%3A0x981bb218cee8b16c!2sVillaFleurie!5e0!3m2!1sfr!2sde!4v1573125589212!5m2!1sfr!2sde"
              width="100%"
              height="460"
              frameborder="0"
              style="border:0;"
              allowfullscreen=""
            ></iframe>
          </div>
        </div>
      </div>
      <div class="col-sm-12 section-t8">
        <div class="row">
          <div class="col-md-7">
            <form class="form-a" action="" method="post" role="form">
              <!-- <div class="row">
                <div class="col-md-12">
                  {% csrf_token %} {{ form.as_p }}
                  <button type="submit" class="btn btn-a">Envoyer</button>
                </div>
              </div> -->
            </form>
          </div>
          <div class="col-md-5 section-md-t3">
            <div class="icon-box section-b2">
              <div class="icon-box-icon">
                <span class="ion-ios-paper-plane"></span>
              </div>
              <div class="icon-box-content table-cell">
                <div class="icon-box-title">
                  <h4 class="icon-title">Dîtes salut 👋</h4>
                </div>
                <div class="icon-box-content">
                  <p class="mb-1">
                    ✉️ Email :
                    <span class="color-a"
                      ><a href="mailto:location.villafleurie@gmail.com"
                        >location.villafleurie@gmail.com</a
                      ></span
                    >
                  </p>
                  <p class="mb-1">
                    📞 Téléphone :
                    <span class="color-a"
                      ><a href="tel:0698267634">06 98 26 76 34</a></span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="icon-box section-b2">
              <div class="icon-box-icon">
                <span class="ion-ios-pin"></span>
              </div>
              <div class="icon-box-content table-cell">
                <div class="icon-box-title">
                  <h4 class="icon-title">Retrouvez-nous</h4>
                </div>
                <div class="icon-box-content">
                  <p class="mb-1">
                    Rue Gerty Archimède,
                    <br />
                    97190 Le Gosier, Guadeloupe
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
