{% load static %}
<section class="property-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row section-t3">
          <div class="col-sm-12">
            <div class="title-box-d">
              <h3 class="title-d">Nous contacter</h3>
            </div>
          </div>
        </div>
        <div id="reservation" class="row">
          <!-- <div class="col-md-4 col-lg-3">
            <img src="{% static 'img/agent-4.jpg' %}" alt="" class="img-fluid">
          </div> -->
          <div class="col-md-12 col-lg-6">
            <div class="property-agent">
              <h4 class="title-agent">Comment réserver ?</h4>
              <p class="color-text-a">
                <p style="text-align: center;"><strong>Un système de réservation en ligne sera bientôt mis en place. Patience !</strong></p>
                <p style="text-align: justify;">Bien entendu, il est possible de réserver votre séjour à VillaFleurie via diverses plateformes de réservations en ligne :</p>
                <ul style="text-align: justify;">
                <li><a href="http://www.booking.com/hotel/gp/villafleurie.html" target="_blank" rel="noopener">Booking.com</a></li>
                <li>AirBnB : <a href="https://www.airbnb.fr/rooms/11583356" target="_blank" rel="noopener">T2</a> et <a href="https://www.airbnb.fr/rooms/12584994?preview_for_ml=true" target="_blank" rel="noopener">T3</a></li>
                <li>TripAdvisor : <a href="https://www.tripadvisor.fr/VacationRentalReview-g644387-d9744507-Location_T2_calme_dans_le_bourg-Le_Gosier_Grande_Terre_Island_Guadeloupe.html" target="_blank" rel="noopener">T2</a> et <a href="https://www.tripadvisor.fr/VacationRentalReview-g644387-d9751497-Location_T3_calme_dans_le_bourg-Le_Gosier_Grande_Terre_Island_Guadeloupe.html" target="_blank" rel="noopener">T3</a>.</li>
                </ul>
                <p style="text-align: justify;">Quelle que soit votre préférence, un petit message sera toujours <a href="https://villafleurie.wordpress.com/contact/">apprécié</a> et nous répondons très rapidement.</p>
                                </p>
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between">
                  <strong>Téléphone</strong>
                  <span class="color-text-a"><a href="tel:0698267634">06 98 26 76 34</a></span>
                </li>
                <li class="d-flex justify-content-between">
                  <strong>Email</strong>
                  <span class="color-text-a"><a href="mailto:location.villafleurie@gmail.com">location.villafleurie@gmail.com</a></span>
                </li>
              </ul>
              <div class="socials-a">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/location.villafleurie/" target="blank">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="property-contact">
              <h4 class="title-agent">Formulaire de réservation</h4>
              <form class="form-a" method='post'>
                <div class="row">
                  <div class="col-md-12 mb-1">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><button type="submit" class="btn btn-a">Envoyer</button></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
