{% extends 'rental/base.html' %} {% load static %} {%block content%}

<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Découvrez la ville du Gosier</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav
          aria-label="breadcrumb"
          class="breadcrumb-box d-flex justify-content-lg-end"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'rental:index' %}">Accueil</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Services
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="entry-content">
          <p style="text-align: justify;">
            Vous avez accès aux <strong>plages de sable fin</strong> du bourg et
            de la Pointe de la Verdure. L’embarcadère pour le romantique
            <strong>Îlet du Gosier</strong> avec son <strong>phare</strong> est
            à deux pas.<br />La plage de <strong>la Datcha</strong>, éclairée
            toute la nuit invite à la
            <strong>baignade nocturne</strong>.<br />Plusieurs
            <strong>bars de plage</strong> proposent de la
            <strong>musique</strong> « live » et des
            <strong>plats savoureux</strong>. Le
            <strong>Casino du Gosier</strong> offre des tables et machines à
            sous, ainsi qu’un restaurant et un
            <strong>programme d’animations</strong>.
          </p>
          <p style="text-align: justify;">
            <strong>Idéalement situé</strong> les commerces, boulangeries avec
            bistrot-café le matin, la Poste, plusieurs banques, pharmacies,
            marché aux fruits et légumes (tous les vendredis dès 15h), hôtels,
            bars, restaurants créole et français, coiffeur, esthéticienne sont à
            deux pas.
          </p>
          <p style="text-align: justify;">
            La situation de notre établissement vous donne la possibilité, si
            vous le souhaitez, de passer un
            <strong>séjour sans véhicule</strong>.
          </p>
          <h2>Aux alentours</h2>
          <p style="text-align: justify;">
            Le Gosier étant au milieu des 2 ailes de notre papillon, vous avez
            un
            <strong>large choix d’excursions</strong>, d'événements ludiques,
            sportifs et éducatifs.<br />Puisque certaines de ces activités
            nécessitent l’utilisation d’un véhicule, nous vous offrons la
            possibilité d’en louer un.<br />Toutefois, les
            <strong>arrêts de bus</strong> dans les deux directions sont situés
            au bout de la rue à <strong>moins de 2 minutes à pied</strong>.
          </p>
          <p style="text-align: justify;">
            Vos hôtes connaissent leur Île sur le bout des doigts. Ils se feront
            donc un plaisir de vous
            <strong>conseiller sur des sorties</strong> diurnes et nocturnes,
            des excursions, des randonnées, <strong>des musées</strong>, des
            plans "sports", les
            <strong>meilleures plages de l’Archipel</strong>, …
          </p>
          <p style="text-align: justify;">
            Pour plus de tranquillité, <strong>si vous le souhaitez</strong>,
            nous vous <strong>accueillerons à l’aéroport </strong>(20 €)<strong>
              ou au port maritime</strong
            >
            (15 €).
          </p>
          <p style="text-align: justify;">
            Nous parlons créole, français et anglais.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock%}
